# Prerequisites
*.d

# python virtual env
uva-env/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# uva-node npm package
uva-node/

# Problem temp files
in
out

# VS Code files
/.vscode/*

.vscode/